
<div class="container">
  <div class="card mt-4 bg-white">
    <div class="card-body">
      <h1 class="display-4">Bem-vindo ao Desafio GeoConding!</h1>
      <p class="lead">Esta é a página inicial do nosso site. Aqui você encontrará informações sobre nossas funcionalidades, serviços e muito mais.</p>
      <hr class="my-4">
      <p>Explore nosso site para descobrir tudo o que temos a oferecer.</p>
      <a class="btn btn-primary btn-lg" routerLink="/consulta-endereco" role="button">Consulta Endereço</a>
    </div>
  </div>
</div>
